<!doctype html>
<html>
  <head>
    <title><%=data[0].title;%></title>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  </head>
  <body>
        <h1><%=data[0].title;%></h1>
  </body>
</html>
